nav {
    display: flex;
     justify-content: space-between; /* pushes children to far left & right */
  align-items: center;     
    height: 10vh;
    background-color: black;        
    margin: 5px;
    position: fixed;
    width: 100%;
}


 #img{
    display: flex;
 } 
#img img {
    align-self: center;
     width: 150px;
  height: auto;
}

#nav-content{
    display: flex;
    color: white;
    align-items: center;
    font-size: x-large;
 margin-right: 5px;
 margin: 5px;   
}
a{
    padding: 3px;
}
#Home{
    padding-right: 10px;
}
#Social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
#Social img{
width: 20px;
height: 20px;
margin: 5px;
}
#second-section{
    text-align: center;
    
}
#second-section img{
    width: 100%;
    height: 60%;
    margin-top: 90px;
    margin-bottom: -10                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       0px;
   
}
a{
    margin: 5px;
    color: white;
    text-decoration: none;
    
}
#cv{
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 8px;
    height: auto;
}
#nav-content2{
    color: white;
    background-color: black;
    cursor:pointer;

}
#nav2{
margin-left: 100px;
}
#Home2{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
#x{
    text-align: right;
    
}
